
body{
    background-color: var(--background-color);
}

.all_games_bgimg {
    position: relative; /* اضافه کن */
    overflow: hidden;

  }
  
  .all_games_bgimg img {
    width: 100%;
    height: 100vh;
    opacity: 0.5; /* به جای 50% از 0.5 استفاده کن */
    object-fit: cover;
    display: block; /* بهتره برای حذف فاصله زیر تصویر */
    position: relative;
    z-index: 1; /* پایین تر */
  }
  
  .all_games_bgimg::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      rgba(15, 23, 42, 1) 0%,
      rgba(15, 23, 42, 0) 100%
    );
    z-index: 2; /* بالاتر از عکس */
    pointer-events: none; /* کلیک روی گرادیانت مشکلی ایجاد نکند */
  }
  

#header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 60; /* بالاتر از عکس */

}


.section_title{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: var(--white-color);
    margin: 50px 30px;
}

.all_games_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    direction: rtl;
    z-index: 4; /* بالاتر از عکس */
    gap: 12px;
    padding: 10px;

    

}
.all_games_title{
    color: var(--white-color);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.all_games_description{
    font-size: 20px;
    font-weight: normal;
    color: var(--white-color);
}
.all_games_buttons{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 10px;

}
.all_games_scroll{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-primary);
    border: none;
    color: var(--background-color);
    font-weight: normal;    
    font-size: 18px;
    cursor: pointer;
    animation: light 2s infinite ease-in-out;


}

@keyframes light {
    0% {
        transform: scale(1);
    }

    25%{
        transform: scale(0.9);
        border-radius: 50px;
    }

    50%{
        transform: scale(1);
        border-radius: 50px 0px 50px 0px;

    }

    75%{
        transform: scale(0.9);
        border-radius:  0px 50px 0px 50px;
        

    }
    100%{
        transform: scale(1);


    }

}



.see_all_tournaments{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-weight: normal;    
    font-size: 18px;
    cursor: pointer;

}



.all_games_container{
    max-width: 1400px;
    padding: 0px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    direction: rtl;
}
.all_game_item{
    object-fit: cover;
    justify-self: center;

}
.all_game_item img{
    width: 100%;
    height: 100%;
}


.search_bar_coontainer{
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 25px;
    direction: rtl;
    column-gap: 15px;

    
    
}

.filters_link{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.filters_link a{ 
    color: var(--white-color);
    font-size: 14px;
    font-weight: 300;

}

.search_bar{
    background-color: var(--border-color);
    border-radius: 100px;
    border: none;
    width: 210px;
    height: 30px;
    display: flex;
    align-items: center;
    direction: ltr;
    justify-content: center;
    padding: 2px 10px ;

}

/* استایل کانتینر اصلی جستجو */
.search-container {
    display: flex;
    align-items: center; /* تراز عمودی آیکون و اینپوت در وسط */
    justify-content: center;
    

  }
  
  /* استایل آیکون ذره‌بین */
  .search-icon {
    color: var(--white-color);
    width: 20px;
    height: 20px;
  }
  
  /* استایل فیلد ورودی متن */
  .search-input {
    flex-grow: 1; 
    background: transparent; 
    border: none; 
    outline: none; 
    color: var(--white-color);
    font-size: 16px;
    text-align: right; 
    margin-right: 10px; 
    direction: rtl;
    font-size: 12px;


  }
  
  /* استایل متن نمونه (Placeholder) */
  .search-input::placeholder {
    color: var(--white-color);
    opacity: 0.8; 
    font-weight: 300;
    font-size: 12px;
  }

  a{
    text-decoration: none;
  }




@media (max-width:930px) {


    .all_games_content{
        max-width: 400px;
    }
    
.all_games_title{
    font-size: 29px;
}

.all_games_description {
    font-size: 16px;

}

}


@media (max-width:590px) {


    .all_games_content{
        max-width: 350px;
    }


    .all_games_buttons {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .all_games_scroll {
        width: auto;
    }


    .see_all_tournaments{
        width: auto;
    }


    }





