
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

   /* رنگ های اصلی */

--background-color:#0F172A;     /* رنگ اصلی پس زمینه  */
--card-color:#1E293B;           /* رنگ مخصوص کارت ها  */
--color-primary: #00F5FF;       /* رنگ اصلی برند (مثلا برای دکمه‌ها و لینک‌ها) */

/* رنگ های شفاف */
--color-half: #185262;       /* با شفافییت پایین */
--header-gradiant: #0f172a75;       /* با شفافییت پایین */

/* رنگ های فرعی */

--white-color:#FEFEFE;     /* رنگ سفید برای متن ها  */
--dark-color:#0F172A;      /* رنگ تیره برای متن ها*/
--gray-color:#57667D;      /* رنگ تیره برای متن ها*/
--logout-color:#F87171;         /* رنگ دکمه های حذف یا خروج */ 
--yellow-color:#D99F09;         /* رنگ دکمه های ریپورت */ 
      

/* رنگ بوردر */

--primary-border:var(--color-primary);             /* رنگ بوردر درحالت انتخاب با , رنگ اصلی*/ 
--border-color:#374151;                          /* رنگ بوردر خاکستری برای حالت های غیر انتخاب*/ 

/* رنگ سایه ها */

--primary-color-shadow: #00f7ff49 ;       /* drop-shadow با رنگ اصلی*/ 

/* گرادیانت */

--gradient-smooth-fade: linear-gradient(
    to top,
    rgb(var(--background-color)),             /* رنگ کامل در پایین */
    rgba(var(--background-color), 0)          /* همان رنگ با شفافیت کامل در بالا */
  );

/* overlay */

--overlay-color:rgba(0, 0, 0, 0.3);


/* discord bg color */
--discord-bg:#811CDA;
--red-color:#C97878;
--green-color:#82E995;


--shadow:#0000000d;

}









  /* loading styles */


  
/* لودیینگ تمام‌صفحه */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* انیمیشن ساده لودینگ */
.loader {
  border: 8px solid var(--border-color);
  border-top: 8px solid var(--color-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* کد های اسکرول بار */

/* برای Chrome، Edge و Safari */
::-webkit-scrollbar {
  width: 5px; /* عرض عمودی */
  height: 5px; /* ارتفاع افقی */
}

::-webkit-scrollbar-track {
  background:transparent; /* رنگ پس‌زمینه‌ی track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-border); /* رنگ اسکرول */
}
