



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.game_slider_container{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    padding: 0px 25px;
    margin: 50px auto;
    direction: rtl;
}
.game_banner{
    max-width: 1053.47px;
    width: 100%;
    height: 580.14px;
    justify-content: start;
    position: relative;


}
.game_bg {
    max-width: 1053.47px;
    width: 100%;
    height: 515px;
    position: relative; /* اضافه شد */
    border-radius: 10px; /* اگر می‌خواهید کل div گردی داشته باشد */
    overflow: hidden; /* مطمئن شوید گرادیانت از div خارج نشود */
    
}

/* حالت اولیه */
.game_bg img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1053.47px;
    width: 100%;
    height: 580.13px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-100%);
    /* transition: all 0.8s ease-in-out; */
  }

  .game_bg img {
    opacity: 0;
    transform: translateX(-50px) scale(0.95);
    /* transition: all 0.1s ease-in-out; */
}

.game_bg img.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    z-index: 2;
}

.game_bg img.exit {
    opacity: 0;
    transform: translateX(50px) scale(0.95);
    z-index: 1;
}


.game_banner_title span,
.game_banner_description span {
    display: inline-block; /* مهم! */
    will-change: transform, opacity; /* به مرورگر کمک می‌کند تا انیمیشن روان‌تر اجرا شود */
}



.game_bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* تغییر از 100vh به 100% */
    background: linear-gradient(
        to left,
        rgba(15, 23, 42, 0.881) 0%,
        rgba(15, 23, 42, 0) 100%
    );
    z-index: 2;
    pointer-events: none;
    border-radius: 10px; /* اگر می‌خواهید گرادیانت هم گردی داشته باشد */
    
}



.game_banner_content{
    position: absolute;
    bottom: 85px;
    right: 20px;
    direction: rtl;
    z-index: 3;
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 10px;

}
.game_banner_title{
    font-size: 44px;
    font-weight: bold;
    color: var(--white-color);
}
.game_banner_description{
    font-size: 16px;
    font-weight: 300;
    color: var(--white-color);
    max-width: 400px;
    min-height: 70px;
    text-align: justify;
    margin-bottom: 10px;
}
.game_banner_date_usercount{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 15px;
    font-weight: 300;
    color: var(--white-color);
}

.game_banner_date_usercount img{
    width: 15px;
    height: 15px;
}

.game_banner_links{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap:25px;

}
.watch_tourament{
    width: 222.96px;
    height: 60px;
    background-color: var(--white-color);
    color-scheme: var(--background-color);
    font-weight: 300;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.all_tournaments_link{

    text-decoration: none;
    color: var(--white-color);

}


.game_list{
    max-width: 296.85px;
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.game_list_item{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px 2px 2px 10px;
    direction: ltr;
    height: 94.76px;
    width: 278.7px;
    border: none;
    border-radius: 10px;
    column-gap: 20px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.game_list_item:hover{
    background-color: var(--card-color);
        
}

.game_list_img{
    width: 42.36px;
    height: 63.54px;
    object-fit: cover;

}


.game_list_img img{
    width: 100%;
    height: 100%;
}


.game_list_tilte{
    color: var(--white-color);  
    font-size: 15px;
    font-weight: normal;
}

 .list_item_active{
    background-color: var(--card-color);
    position: relative;
}

.list_item_active::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff25;
    animation:  sliderleft 4s ease-out infinite ;
    border-radius: 10px 0px 0px 10px;
    padding: 0;
    margin-left: -10px;
}


@keyframes sliderleft {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}

.mobile_slider_container{
    display: none;   
}
/* بخش مربوط به ریسپانسیو به حالت موبایل */


    @media (max-width:1000px) {

    .game_slider_container{
        display: none;
    }   
    .mobile_slider_container {
        display: flex;
        align-items: center;
        gap: 20px; /* فاصله بین کارت‌ها */
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding: 0 10px; /* فاصله از دو طرف */
        scroll-snap-type: x mandatory; /* اسنپ کردن افقی */
    }
    
    .mobile_slide {
        flex: 0 0 290px; /* عرض ثابت کارت */
        height: 377px;
        scroll-snap-align: center; /* کارت وسط صفحه بیفته */
        position: relative;
    }



    .mobile_slider_container {
        /* بقیه استایل‌ها مثل قبل */
        scrollbar-width: none; /* برای فایرفاکس */
        -ms-overflow-style: none; /* برای IE و Edge قدیمی */
    }
    
    .mobile_slider_container::-webkit-scrollbar {
        display: none; /* برای کروم، سافاری و بقیه مرورگرهای WebKit */
    }



.mobile_game_banner{
    position: relative;
    width: 290px;
    height: 377px;
}

.mobile_game_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mobile_game_banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* تغییر از 100vh به 100% */
    background: linear-gradient(
        to top,
        rgba(15, 23, 42, 0.937) 0%,
        rgba(15, 23, 42, 0) 120%
    );
    z-index: 2;
    pointer-events: none;
    border-radius: 10px; /* اگر می‌خواهید گرادیانت هم گردی داشته باشد */
    
}


.mobile_banner_content{
    position: absolute;
    z-index: 2;
    top: 0%;
    max-width: 290px;
    width: 100%;
    height: 377px;
    display: grid;
    direction: rtl;
    align-items: end;
}



.m_content_top{
    display: flex;
    align-items: start;
    justify-content: start;
    /* height: 70px; */
    position: absolute;
    top: 20px;
    right: 20px;

}
.m_content_bottom{
    display: grid;
    align-items: center;
    justify-content: end;
    max-width: 230px;
    color: var(--white-color);
    position: absolute;
    right: 20px;
    bottom: 10px;
}


.mobile_join_link button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobilr_content_title{
    font-size: 30px;
    font-weight: bold;
}
.mobile_content_description{
    font-size: 11px;
    font-weight: 300;
}
.mobile_content_user_count{
    font-size: 11px;
    font-weight: 300;
    margin-top: 10px;
}


}






.list_comming_soon img{
    opacity: 50%;
}


