



/* استایل برای زمانی که کاربر وارد حساب کاربری خودش نشده */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    background: linear-gradient( 180deg , var(--header-gradiant) , #00000000);
    width: 100%;
    height:80px;

}

a{
    text-decoration: none;

}

.header_container{
    max-width: 1400px;
    width: 100%;
    height:100%;
    margin: 0px auto;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
    position: relative;

}
.logo{
    width: 185px;
}

.logo img{
    width: 100%;
}

.header_links{
    position: absolute;
    right: 300px;
    width: 400px;
}

.header_links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_link{
    list-style: none;
}
.header_link a{
    color: var(--white-color);
    font-size: 16px;
    font-weight: normal;

}
.signup_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    font-size: 16px;
    font-weight: normal;
}
.login_link{
    color: var(--white-color);

}
.signup_link{
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    color: var(--background-color);
    border-radius: 10px;


}

/*  بخش زیر  زمانی نمایش داده میشه که کاربر وارد حساب کاربری خودش شده باشه */




.is_loggin_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 36px;
    color:#a6a6a6;

}
.header_wallet{
    max-width: 150px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: 100px;
    font-size: 12px;
    font-weight: normal;
    gap: 5px;
    border:1px solid var(--border-color) ;
    cursor: pointer;
}

.header_user_info_btn{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: 100px;
    border:1px solid var(--border-color) ;
    cursor: pointer;
    
}
.header_notification_btn{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: 100px;
    border:1px solid var(--border-color) ;
    cursor: pointer;
}

.header_hidden_items_overlay{

}
.header_hidden_user_menu{

}
.header_hidden_notification{

}





/* متغییر ها */


.hidden{
    display: none !important;
}
