
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}





.loby_container{
    max-width: 1400px;
    padding: 0 25px;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    align-items: start;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
    direction: rtl;
}
.loby_right{
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    row-gap: 30px;
    grid-column: 1/4;

    
}
.Summary_of_information{
    width: 100%;
    background-color: var(--card-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    display: grid;
}

.Summary_of_information ,
.icon ,
.info_title ,
.start_time ,
.start_timer{
    font-size: 14px;
}

.Summary_of_information img {
    max-width: 15px;
    max-height: 15px;
}

.icon{
    margin-left: 20px;
    width: 18px;
}


.info_title{
    font-size: 20px;
    font-weight: normal;
    
}
.start_time{
    opacity: 80%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: start;
}

.start_timer{
    opacity: 80%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: start;
}
.tournament_time{
    opacity: 80%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: start;
}
.end_time{
    opacity: 80%;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: start;
}
.tournament_mode{
    opacity: 80%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: start;
}
.admin_info{
    width: 100%;
    background-color: var(--card-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    display: grid;
}
.admin_info_title{
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.admin_info_title img{
    width: 22px;
    height: 22px;
}

.admin_content_section{
    display: flex;
    align-items: center;
    justify-content: end;
}
.admin_content{
    text-align: start;
    margin-left: 20px;
    direction: ltr;

}

.admin_profile{
    width: 70px;
    height: 70px;
    border: none;
}

 hr{
    opacity: 50%;
    border: 0.5px solid var(--border-color);
    height: 1px;
}

.admin_profile img{
    width: 100%;
    height: 100%;
    border-radius: 100px;

}

.admin_name{
    font-size: 16PX;
    font-weight: 300;
    opacity: 80%;
}
.admin_nnumber{
    font-size: 16PX;
    font-weight: 300;
    opacity: 80%;
}

.info_description{
    font-size: 12px;
    opacity: 50%;
}
.support{
    width: 100%;
}
.support_btn{
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 10px;
    background-color: var(--yellow-color);
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}
.laeder_board{

}
.loby_left{
    grid-column: 4/13;
    
}
.loby_banner{
    width: 1020px;

}

.loby_banner img{
    width: 1020px;
    border-radius: 10px;

}
.loby_banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .loby_banner .banner img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .loby_banner::after {
    content: "";
    position: absolute;
    inset: 0; /* top:0; left:0; right:0; bottom:0; */
    background: linear-gradient(
      to top,
      rgba(15, 23, 42, 0.9),  /* پایین تیره */
      rgba(15, 23, 42, 0)     /* بالا شفاف */
    );
    z-index: 1; /* گرادینت بالای عکس */
  }
  
  .loby_banner .contant {
    position: absolute;
    bottom: 20px; /* جای دلخواه */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 2; /* محتوای بالای گرادینت */
    text-align: center;
  }
  

.banner{

}
.contant{
    width: 100%;
    margin: 20px 60px;
    font-size: 25px;
    font-weight: normal;
    display: grid;
    align-items: start;
    gap:15px ;
}
.countdown{
    text-align: end;

}
.award{
    text-align: end;

}
.routnament_title{
    text-align: end;

}



/* ریسپانسیو */


@media (max-width:1250px) {
    .Summary_of_information ,
    .icon ,
    .info_title ,
    .start_time ,
    .end_time ,
    .start_timer{
        font-size: 12px;
    }

    .Summary_of_information img {
        margin-left: 10px;
        max-width: 12px;
    }

    .info_title {
        font-size: 16px   !important;
    }

    .admin_profile{
        width: 40px;
        height: 40px;
        border: none;
    }
    
    .admin_profile img{
        width: 100%;
        height: 100%;
        border-radius: 100px;
    
    }
    
    .admin_name{
        font-size: 14px;
        font-weight: 300;
        opacity: 80%;
    }
    .admin_nnumber{
        font-size: 14px;
        font-weight: 300;
        opacity: 80%;
    }
    
    .info_description{
        font-size: 12px;
        
    }



}




@media (max-width:1080px) {

    .loby_container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
    }
    
    /* لابی راست و چپ روی کل 12 ستون */
    .loby_right {
        grid-column: 1 / 13;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-row: 2; /* بعد از loby_left نمایش داده شود */
    }
    
    .loby_left {
        grid-column: 1 / 13;
        grid-row: 1; /* بالاتر از loby_right */
    }
    


}
