
body{
    /* background-image: url(../img/bg.svg); */
    width: 100%;
    height: 1000px;
    background-repeat: repeat;
    overflow: hidden;
}

.register_bacground{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.register_container{
    display: grid;
    align-items: center;
    /* justify-content: space-around; */
    width: 350px;
    height: auto;
    min-height: 250px;
    /* background: linear-gradient(  var(--background-color) 0%,  var(--card-color) 100%); */
    backdrop-filter: blur(20px);
    
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding:30px 10px;

}
.login_title{
    font-size: 30px;
    font-weight: normal;    
    color: var(--white-color);
    text-align: center;
}
.login_form{
    width: 320px;
    display: grid;

}


/* .send-otp-step{} */
.sendOtpForm{
    display: flex;
    align-items: center;
    justify-content: center;

}
#identifier{
    margin-top: 10px;
    padding: 2px 10px 2px 2px;
    text-align: right;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--card-color);
}
#sendOtpBtn{
    background-color: var(--color-primary);
    color: var(--background-color);
    border: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 10px;
    width: 100%;
    height: 40px;
}



/* .verify-otp-step{} */

#verifyOtpForm p{
    color: var(--white-color);
    direction: rtl;
    font-size: 12px;
    margin: 10px;
}
#user-identifier{
    margin-top: 10px;
    padding: 2px 10px 2px 2px;
    text-align: right;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--card-color);
}
#code{
    margin-top: 10px;
    padding: 2px 10px 2px 2px;
    text-align: right;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--card-color);
}
#verifyOtpBtn{
    background-color: var(--color-primary);
    color: var(--background-color);
    border: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 5px;
    width: 100%;
    height: 40px;
}




a{
    text-decoration: none;
}
.login_bottom_links a{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
    color: var(--white-color);
    font-size: 13px;
    font-weight: 300;
}
.login_bottom_links{
    direction: rtl;

}
.blue {
    color: var(--color-primary);
}

/*  */
/*  */
/*  */




body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #vanta-bg {
    position: fixed; /* ثابت کردن پس‌زمینه */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* قرارگیری زیر محتوا */
  }




/*  */
/*  */
/*  */
