

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: var(--background-color);
}

/* Layout */
.tournaments_container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

/* Banner */
.tournaments_head_banner {
    width: 100%;
    height: 286px;
    margin-top: 20px;
}

.tournaments_head_banner img {
    width: 100%;
    height: 100%;
        object-fit: cover;
    border-radius: 10px;
}

/* Filters Section */
.tournaments_filter_section {
    width: 100%;
    height: 50px;
    background-color: var(--card-color);
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tournament-filters {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.filter-btn {
    min-width: 100px;
    height: 30px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
}

.filter-active {
    background-color: var(--color-half);
    border: 1px solid var(--color-primary);
}

/* Sorting */
.tournament-sorting option {
    background-color: var(--card-color);
    padding: 10px;
}

#sortSelect {
    min-width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    text-align: center;
}

/* Pagination */
.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 10px auto 20px;
    column-gap: 5px;
    direction: rtl;
}

.Pagination button {
    width: 100px;
    height: 30px;
    background-color: var(--card-color);
    border: none;
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s ease;
}

.page_number {
    width: 30px;
    height: 30px;
    background-color: var(--card-color);
    border: none;
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.Pagination button:hover,
.Pagination .page_number:hover {
    background: var(--border-color);
}

/* Active page */
.Pagination .page_number.active {
    background: var(--color-primary);
    color: var(--background-color);
    font-weight: bold;
    cursor: default;
}

/* Disabled buttons */
.Pagination button.disabled {
    background: var(--background-color);
    cursor: not-allowed;
    opacity: 0.6;
}

/* States */
.error {
    margin: 0;
    color: var(--white-color);
    width: 100%;
    text-align: center;
    direction: rtl;
    grid-column: 1/4;
}

.loading {
    margin: 0;
    color: var(--white-color);
    width: 100%;
    text-align: center;
    direction: rtl;
    grid-column: 1/4;
    animation: loadTournaments ease 2s infinite;
}

/* Animations */
@keyframes loadTournaments {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
