






.user_sidebar_container{
    max-width: 250px;
    width: 100%;
    height: 685px;
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: fixed;
    top: 20px;

}


.sidebar_logo img{ 
    position: absolute;
    top: 50px;
    right: 52.91px;
    width: 121.18px;
    height: 48.13px;


}
.sidebar_links{
    position: absolute;
    top: 150px;
    right: 22.81px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}
.sidebar_link{
    width: 90%;
    height: 50px;
    border: 10px;   
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
    gap: 5px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 14px;
    transition: ease 0.2s;
}


.sidebar_link:hover{
    background-color: #232E3F;

}

a{
    text-decoration: none;
}

.sidebar_link  svg {
    width: 20px;
    height: 20px;
}
.active{
    background-color: #232E3F;

}
.exit{
    color: var(--logout-color);


}


/* ✅ وقتی عرض صفحه 1300px یا کمتر شد */
@media (max-width: 1300px) {
    .user_sidebar_container {
      max-width: 70px;   /* سایدبار باریک‌تر */
      width: 70px;
      padding: 0;
      align-items: center;
    }
  
    .sidebar_logo img {
      right: 50%;
      transform: translateX(50%); /* لوگو وسط بشه */
      width: 40px;
      height: auto;
    }
  
    .sidebar_links {
      right: 7px;
      width: 80%;
      align-items: center;
      padding: 0;
      display: grid;
      
    }
  
    .sidebar_link {
      justify-content: center;
      padding: 0;
      width: 100%;
    }
  
    .sidebar_link span,   /* متن داخل لینک‌ها */
    .sidebar_link p {
      display: none; /* متن مخفی */
    }
  
    .sidebar_link svg {
      margin: 0;
    }
  }
  





  /* استایل پایه برای overlay + سایدبار */
.right_sidebar_container {
    display: none; /* در ابتدا مخفی */
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* برای overlay */
    height: 100%;
    background: rgba(0,0,0,0.5); /* overlay */
    z-index: 999; 
  }
  
  /* خود سایدبار */
  .right_sidebar {
    position: absolute;
    top: 0;
    right: -300px; /* در ابتدا بیرون صفحه */
    width: 300px;
    height: 100%;
    background: #fff;
    transition: 0.3s ease;
    padding: 20px;
  }
  
  /* وقتی فعال بشه */
  .right_sidebar_container.active {
    display: block;
  }
  
  .right_sidebar_container.active .right_sidebar {
    right: 0; /* وارد صفحه میشه */
  }
  
  /* دکمه بستن */
  .close_btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  



